@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #EdEbE8;

}

@theme{
  --color-navtext:#F1EFEC;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #EdEbE8;
    --foreground: #0a0a0a;
    
  }
}

body {
  background: var(--background);
  color: var(--foreground);

}



:root {
  /* Define your font families as CSS variables */
  --font-bodoni-moda: var(--font-bodoni-moda);
  --font-bodoni-moda-sc: var(--font-bodoni-moda-sc);
  --font-inter-tight: var(--font-inter-tight);
}

/* Apply fonts to HTML elements or create utility classes */
body {
  font-family: var(--font-inter-tight), -apple-system, BlinkMacSystemFont, sans-serif;
  overflow-x: hidden;
}

/* Create font utility classes */
.font-bodoni {
  font-family: var(--font-bodoni-moda), serif;
}

.font-bodoni-sc {
  font-family: var(--font-bodoni-moda-sc), serif;
}

.font-inter {
  font-family: var(--font-inter-tight), sans-serif;
}


.font-heading {
  font-family: var(--font-my-TTFont), sans-serif;
}




::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  overflow-x: hidden;

}


.fadeGradient {
  background: linear-gradient(90deg, #F9F8F7 0%, rgba(249, 248, 247, 0) 50%, #F9F8F7 100%);
}


/* clip path cut */
.clipped-div {
  width: 100%;
  height: 300px;
  background: white;
  clip-path: polygon(
  0% 0%,        /* top-left */
  25% 2%,       /* start top curve */
  50% 4%,       /* center top dip */
  75% 2%,       /* end top curve */
  100% 0%,      /* top-right */

  100% 100%,    /* bottom-right */
  75% 98%,      /* start bottom curve */
  50% 96%,      /* center bottom dip */
  25% 98%,      /* end bottom curve */
  0% 100%       /* bottom-left */
);

}